In [9]:
from pykrx import stock
import pandas as pd

In [10]:

start = "20240101"
end = "20241231"
market = "1001" # 1001 코스피
df = stock.get_index_ohlcv(start, end, market)
df.head()

코스피,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2024-01-02,2645.47,2675.80,2641.88,2669.81,409871688,9628190129018,2147223894556881
2024-01-03,2643.54,2643.72,2607.31,2607.31,463131608,10121578328315,2096573473823721
2024-01-04,2592.44,2602.64,2580.09,2587.02,770176172,8992273956601,2081862659594752
2024-01-05,2586.89,2592.29,2572.60,2578.08,522289892,8384472928787,2075148802709824
2024-01-08,2584.23,2591.68,2566.34,2567.82,320143990,6763632029996,2067290656237408

In [11]:
# Rename columns and format DataFrame
columns = {
    '시가': 'Open',
    '고가': 'High',
    '저가': 'Low',
    '종가': 'Close',
    '거래량': 'Volume'
}
df2 = df.rename(columns=columns).reset_index()
df2.rename(columns={'날짜': 'Date'}, inplace=True)
df2.drop(columns=['거래대금', '상장시가총액'], inplace=True)
df2

코스피       Date     Open     High      Low    Close     Volume
0   2024-01-02  2645.47  2675.80  2641.88  2669.81  409871688
1   2024-01-03  2643.54  2643.72  2607.31  2607.31  463131608
2   2024-01-04  2592.44  2602.64  2580.09  2587.02  770176172
3   2024-01-05  2586.89  2592.29  2572.60  2578.08  522289892
4   2024-01-08  2584.23  2591.68  2566.34  2567.82  320143990
..         ...      ...      ...      ...      ...        ...
199 2024-10-28  2588.45  2612.96  2587.20  2612.43  333735957
200 2024-10-29  2606.94  2617.80  2595.86  2617.80  363290058
201 2024-10-30  2606.99  2613.47  2586.88  2593.79  487359045
202 2024-10-31  2575.24  2579.65  2552.36  2556.15  406613036
203 2024-11-01  2542.96  2559.30  2536.84  2542.36  319848769

[204 rows x 6 columns]

In [13]:
filename = f"KOSPI-{start}-{end}.csv"
print(f"Data saved to {filename}")
df2.to_csv(filename, index=False)

Data saved to KOSPI-20240101-20241231.csv